absl-py==0.2.2
alembic==1.0.0
astor==0.7.1
certifi==2018.4.16
click==6.7
cycler==0.10.0
Flask==1.0.2
Flask-Login==0.4.1
Flask-Migrate==2.2.1
Flask-WTF==0.14.2
gast==0.2.0
grpcio==1.13.0
gunicorn==19.9.0
h5py==2.8.0
itsdangerous==0.24
Jinja2==2.10
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
kiwisolver==1.0.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
numpy==1.14.5
opencv-python==3.4.2.17
Pillow==5.2.0
protobuf==3.6.0
pyparsing==2.2.0
python-dateutil==2.7.3
python-dotenv==0.9.1
python-editor==1.0.3
python-engineio==2.2.0
python-socketio==2.0.0
pytz==2018.5
PyYAML==3.13
scipy==1.1.0
six==1.11.0
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
tornado==5.1
Werkzeug==0.14.1
WTForms==2.2.1
