{% extends "base.html" %}

{% block content %}
<style>
    table {
        height: 100%;
        width: 100%;
        vertical-align: middle;
        border-collapse: collapse;
    }

    tr {
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        font-size: 3vh;
    }

    div {
        display: inline-block;
        box-shadow: 10px 10px 7px grey;
        height: 100%;
    }

    img {
        height: 100%;
    }
</style>

<table>
    <tr height="20%"><td>Gradient-Weighted Class Activation Mapping (Grad-CAM)</td></tr>
    <tr>
        <td align="center">
            <img src="/static/cam_heatmaps/{{ label }}.png" width="35%">
        </td>
    </tr>
    <tr></tr>
    <tr>
        <td align="center">
            <img src="/static/cam_guided/{{ label }}.png" width="35%">
        </td>
    </tr>
</table>
{% endblock %}

