{% extends "base.html" %}

{% block content %}
<style>
    table {
        height: 100%;
        width: 100%;
        font-size: 5vh;
    }

    div {
        display: inline-block;
        box-shadow: 10px 10px 7px grey;
    }
</style>

<table>
    <tr height="5%"></tr>
    <tr height="10%">
        <th>Input Image</th>
    </tr>
    <tr height="80%">
        <td align="center">
            <img src="/static/images/{{ label }}.jpg" width="3000">
        </td>
    </tr>
    <tr height="5%"></tr>
</table>
{% endblock %}