{% extends "base.html" %}

{% block content %}
<style>
    table {
        height: 100%;
        width: 70%;
        vertical-align: middle;
        font-weight: bold;
        font-size: 4vh;
    }

    th {
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        font-size: 7vh;
    }
</style>

<center>
    <table>
        <tr></tr>
        <tr><th colspan="2">Layer Information</th></tr>
        <tr>
            <td>Name</td>
            <td align="right">{{ name }}</td>
        </tr>
        <tr>
            <td>Activation</td>
            <td align="right">{{ activation }}</td>
        </tr>
        <tr>
            <td># of Output Filters</td>
            <td align="right">{{ num_filters }}</td>
        </tr>
        <tr>
            <td>Filter Dimensions</td>
            <td align="right">{{ dims }}</td>
        </tr>
        <tr>
            <td>Filter Strides</td>
            <td align="right">{{ strides }}</td>
        </tr>
        <tr></tr>
        <tr></tr>
    </table>
</center>
{% endblock %}