{% extends "base.html" %}

{% block content %}
<style>
    p {
        text-align: left;
        vertical-align: middle;
        margin-top: 1.5%;
        margin-left: 2%;
    }

    sup { 
        vertical-align: sup;
        font-size: 10vh;
    }
</style>

<p style="text-align: left; vertical-align: middle; font-size: 5vh">
    <b style="font-size: 26vh;">Looking Inside a Deep Convolutional Neural Network - VGG16</b><br/>
    <br>
    <b style="font-size: 8vh;">Wonjune Kang (Massachusetts Institute of Technology), David Birch (Data Science Institute, Imperial College London)</b><br/>
    <b style="font-size: 8vh;">Imperial College London-MIT IROP 2018</b><br/>
    <br>
    [1] Simonyan, Karen and Zisserman, Andrew. <i>Very Deep Convolutional Networks for Large-Scale Image Recognition</i>. In arXiv:1409.1556, 2014.<br/>
    [2] R. R. Selvaraju, M. Cogswell, A. Das, R. Vedantam, D. Parikh, and D. Batra. <i>Grad-CAM: Visual Explanations from Deep Networks via Gradient-Based Localization</i>. In arXiv:1610.02391v3, 2017.
</p>
{% endblock %}