{% extends "base.html" %}

{% block content %}
<style>
    p {
        text-align: left;
        vertical-align: middle;
        margin-top: 2%;
        margin-left: 2%;
    }

    sup { 
        vertical-align: sup;
        font-size: 10vh;
    }
</style>

<p style="text-align: left; vertical-align: middle; font-size: 5vh">
    <b style="font-size: 26vh;">Looking Inside a Deep Convolutional Neural Network: VGG16<sup>[1]</sup></b><br/>
    <br>
    <b style="font-size: 8vh;">Wonjune Kang (MIT), Dr. David Birch (Imperial College London DSI)</b><br/>
    <br>
    [1] Simonyan, Karen and Zisserman, Andrew. Very deep convolutional networks for large-scale image recognition. In arXiv:1409.1556, 2014.<br/>
    <b style="font-size: 5vh;">[2] R. R. Selvaraju, M. Cogswell, A. Das, R. Vedantam, D. Parikh, and D. Batra. Grad-cam: Visual explanations from deep networks via gradient-based localization. In arXiv:1610.02391v3, 2017.
</p>
{% endblock %}