{% extends "base.html" %}

{% block content %}
<style>
    div {
        text-align: left;
        vertical-align: middle;
        text-indent: 3%;
    }
</style>

<br>
<br>
<p style="text-align: left; vertical-align: middle; text-indent: 3%; font-size: 4vh">
    <b style="font-size: 26vh;">Looking Inside a Deep Convolutional Neural Network: VGG16<sup>[1]</sup></b><br/>
    <br>
    <b style="font-size: 6vh;">Wonjune Kang (MIT), Dr. David Birch (Imperial College London DSI)</b><br/>
    <br>
    <b style="font-size: 4vh;">[1] Simonyan, Karen and Zisserman, Andrew. Very deep convolutional networks for large-scale image recognition. arXiv preprint arXiv:1409.1556, 2014.</b><br/>
    <b style="font-size: 4vh;">[2] R. R. Selvaraju, M. Cogswell, A. Das, R. Vedantam, D. Parikh, and D. Batra. Grad-cam: Visual explanations from deep networks via gradient-based localization. In arXiv:1610.02391v3, 2017.
</p>
{% endblock %}