{% extends "base.html" %}

{% block content %}
    <center>
        <style>
            table { border-collapse: collapse; }
            td { padding: 4px; }
        </style>
        <table>
            {% for four_filters in filter_outputs|batch(4) %}
                {% include '_visualize.html' %}
            {% endfor %}
        </table>
    </center>

    <form action="{{ url_for('index') }}" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p align="center">{{ form.return_home }}</p>
    </form>
{% endblock %}